[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["srv"], version = "*"}
mongoengine = "*"
passlib = "*"
Flask = "*"
flasgger = "*"
Flask-Cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
